
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Dlucca UP
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/app">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/app/usuario">
                        <i class="ti-user"></i>
                        <p>Perfil de Usuario</p>
                    </a>
                </li>
                <li>
                    <a href="/app/imagenes">
                        <i class="ti-view-list-alt"></i>
                        <p>Todas las Imagenes</p>
                    </a>
                </li>
                <li>
                    <a href="/app/imagenes/new">
                        <i class="ti-image"></i>
                        <p>Subir Imagen</p>
                    </a>
                </li>
                
            </ul>
    	</div>
    </div>
